<mat-card>
    <mat-card-title>Novo Usuários</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" required maxlength="25" [(ngModel)]="usuarios.nome" name="name">
        </mat-form-field>
        <mat-form-field>
            <input mask="000.000.000-00" matInput required placeholder="CPF" [(ngModel)]="usuarios.cpf" name="cpf">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Endereço" required maxlength="35" [(ngModel)]="usuarios.endereco" name="endereco">
        </mat-form-field>
        <mat-form-field>
            <input matInput prefix="+55 " required mask="(00)00000-0000||(00)0000-0000" placeholder="Telefone/Celular"
                [(ngModel)]="usuarios.telefone" name="telefone">
                
        </mat-form-field> 
    </form>
    <button mat-raised-button (click)="criarUsuarios()">
        Salvar
    </button>
    <button mat-raised-button (click)="cancelar()">
        Cancelar
    </button>
</mat-card>