<mat-card>
    <mat-card-title>Novo Veiculo</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput required placeholder="Placa" mask="AAA-0000" [(ngModel)]="veiculo.placa" name="placa">
        </mat-form-field>
     
            <mat-form-field appearance="fill">
                <mat-label>Cor</mat-label>
                <select matNativeControl required [(ngModel)]="veiculo.cor" name="cor">
                  <option value="Preto">Preto</option>
                  <option value="Branco">Branco</option>
                  <option value="Cinza">Cinza</option>
                  <option value="Natural">Natural</option>
                  <option value="Vermelho">Vermelho</option>
                  <option value="Azul">Azul</option>
                  <option value="Verde">Verde</option>
                  <option value="Laranja">Laranja</option>
                </select>
              </mat-form-field>
    </form>
    <button mat-raised-button (click)="criarVeiculo()">
        Salvar
    </button>
    <button mat-raised-button (click)="cancelar()">
        Cancelar
    </button>
</mat-card>